
body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace !important
}

*{
    font-family: 'Courier New', Courier, monospace !important
}

div {
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
  }

/* Circles Stuff */
.selected{border: 1px solid black}
.circle{
    position: relative;
    border-radius: 50%;
}
.outer{
    width: 40px;
    height: 40px;

}

.inner{
    top: 10%; left: 10%;
    width: 80%;
    height: 80%;
}

#Red {background-color: rgb(210, 37, 50)}
#Purple {background-color: rgb(105, 40, 240)}
#Black {background-color: black}
#White {background-color: white}
#Orange {background-color: orange}
#Yellow {background-color: yellow}
#Blue {background-color: rgb(30, 85, 165)}
#Navy {background-color: rgb(40, 90, 123)}
#Peach {background-color: rgb(215, 180, 155)}
#Light_Blue{background-color: rgb(85, 195, 245)}
#Lime_Green{background-color: lime}

#Pink{background-color: rgb(254, 50, 180)}
#Blood_Orange{background-color: orangered}
#Green{background-color: rgb(70, 140, 100)}
#Dark_Grey{background-color: grey}
#Brown{background-color: #6E502B}
#Cyan{background-color: cyan}
#Light_Grey{background-color:#ccc}



/* Star stuff */
.star {
    color: black;
    font-size: 1.0rem;
    padding: 0 0.1rem;
}

.star::before {
    content: '\2605';
    cursor: pointer;
}

