
body{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
}

div {
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
  }

/* Circles Stuff */
.selected{border: 1px solid black}
.circle{
    position: relative;
    border-radius: 50%;
}

.circle:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.outer{
    width: 40px;
    height: 40px;

}

.inner{
    top: 10%; left: 10%;
    width: 80%;
    height: 80%;
}

#Red {background-color: rgb(210, 37, 50)}
#Purple {background-color: rgb(105, 40, 240)}
#Black {background-color: black}
#White {background-color: white}
#Orange {background-color: orange}
#Yellow {background-color: yellow}
#Blue {background-color: rgb(30, 85, 165)}
#Navy {background-color: rgb(40, 90, 123)}
#Peach {background-color: rgb(215, 180, 155)}
#Light_Blue{background-color: rgb(85, 195, 245)}
#Lime_Green{background-color: lime}

#Pink{background-color: rgb(254, 50, 180)}
#Blood_Orange{background-color: orangered}
#Green{background-color: rgb(70, 140, 100)}
#Dark_Grey{background-color: grey}
#Brown{background-color: #6E502B}
#Cyan{background-color: cyan}
#Light_Grey{background-color:#ccc}


/* Modal stuff */

#popup {
    display: none;
    position: fixed;
    overflow: auto;
    left: 0; top: 0;
    height: 100%; width: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}

.modal-content {
    color: black;
    background-color: #ccc;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    height: 40%;
}
/* Content in the middle */
#colorRow {
    position: relative;
    background-color: white;
    top: 25%;
}
#clrName {
    color: black;
    padding: 30px;
    background-color: coral;
    text-align: center;
    align-self: center;
}
.countBtn {
    align-self: center;
    background-color: black;
    color: white;
    font-size: 50px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: black;
}
#count {
    background-color: #6E502B;
    align-self: center;
}

/* Agree and cancle buttons */
#buttonRow {
    color: black;
    position: relative;
    top: 40%;
}
.Btn {
    position: relative;
    left: 60%;
    border-radius: 12px;
    color: black;
    margin-right: 5%;
}
.Btn:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer; 
}
#agreeBtn {
    background-color: lightgreen;    
}

#cancleBtn {
    background-color:lightcoral;
}


/* Star stuff */
.star {
    color: black;
    font-size: 1.0rem;
    padding: 0 0.1rem;
}

.star::before {
    content: '\2605';
    cursor: pointer;
}

